
@media (max-width: 970px) {
  .all-pizzas {
   padding-top: 14% !important;
  }

}

@media (max-width: 1083px) {
  .free-delivery{
    display: none;
  }
}

@media (max-width: 800px) {
  .all-pizzas {
    padding-top: 22% !important;
  }
}

@media (max-width: 900px) {
  .work-time{
    display: none;
  }

}
.active {
background-color: #e48631 !important;
}

.left-grand-container {
  
  background-color: rgba(255, 239, 213, 0.78);
}

.right-corner{
  position: absolute;
  right:-10px;
  top:-10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-item > a {
  color: #ffad36;
}

.nav-margin {
  margin: 10px 30px 15px;
}

.nav-pills > li > a:hover{
  background-color: #ffd07d;
  color: white;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: white;
  background-color: #ffad36;
}

.all-pizzas {
  display: inline-block;
  text-align: center;
  padding-top: 10%;
  //height: 100px;
  font-size: xx-large;

  span{
    display: inline-block;
  }
}

.orange-circle{
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  color: white;
  font-size: medium;
  background: orange;
  text-align: center;
  border-radius: 12.5px;
}

.pizza-container{
  padding-right: 14px;
  padding-left: 14px;
}

.pizza-card {
  img {
    width: 248px;
  }

  .pizza-name{
    color: @mainColor;
    margin: 0;
  }

  .pizza-type{
    color: #bbbbbb;
    margin: 0;
    font-size: small;

  }

  .pizza-description{
    margin: 0;
    font-size: small;
  }

  .small-pizza{
    display: inline-block;
    margin-left: 30px;
    margin-top: 2%;
  }

  .big-pizza{
    display:inline-block;
    margin-left: 85px;
    margin-top: 2%;
  }

  .weight-pizza{
    height: 13px;
    width: 13px;
  }

  .radius-pizza{
    height: 13px;
    width: 13px;
  }

  .weight-container{
    display: block;
    font-size: small;
  }

  .radius-container{
    display: block;
    font-size: small;
  }

  .small-price{
    div{
      font-weight: bold;
      font-size: x-large;
      text-align: center;
    }

    span{
      font-weight: bold;
      text-align: center;
      margin-left: 7px;
    }

    display: inline-block;
    margin-left: 25px ;
    margin-top: 4%;
  }

  .big-price{
    div{
      font-weight: bold;
      font-size: x-large;
      text-align: center;
    }

    span{
      font-weight: bold;
      text-align: center;
      margin-left: 7px;
    }

    display: inline-block;
    margin-left: 82px;
    margin-top: 4%;
  }

  .add-to-buy-list-small{
    color: white;
    background-color: rgba(223, 118, 9, 0.78);
    border: #D16200 solid 1px;
    margin-left: 5%;
    margin-top: 1%;
  }

  .add-to-buy-list-big{
    color: white;
    background-color: rgba(223, 118, 9, 0.78);
    border: #D16200 solid 1px;
    margin-left: 19%;
    margin-top: 1%;
  }

  background-color: white;
  width: 250px;
  border: solid lightgray 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  position: relative;
}







